[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
django-environ = "*"
drf-spectacular = "*"
drf-nested-routers = "*"

[dev-packages]
pre-commit = "*"
black = "*"
isort = "*"
flake8 = "*"
autoflake = "*"
pytest = "*"
pytest-django = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.11.6"
